In [1]:
from selenium import webdriver
import bs4 as bs
from bs4 import BeautifulSoup
import sys
import time
import os
import csv
import re
import pandas as pd
import random

In [2]:
df = pd.DataFrame()
df_total = pd.DataFrame()

chrome_path = "./chromedriver.exe" #chromedriver.exe執行檔所存在的路徑
driver = webdriver.Chrome(chrome_path)
driver.get("https://www.ruten.com.tw/")

name_reach = "iphone充電線"
num_page = 6 #目標頁少一頁
num_product = 80

###  define 研究的產品 (罐頭)

    ### 搜尋名稱
driver.find_element_by_xpath("//input[@id='keyword']").send_keys(name_reach)
    ### 搜尋
driver.find_element_by_xpath("//input[@class='rt-header-search-submit']").click()
    
    ### 切換顯示方式
driver.find_element_by_xpath("//a[contains(@class,'list')]").click()
    
    
    
for pag in range(num_page-1) :
    
    url = driver.current_url
    
    ########################## 抓
    time.sleep(random.uniform(3,4))
    page_source = driver.page_source
    soup = BeautifulSoup(page_source, 'html.parser')
    
    
    
    
    Trace_num = []
    sale_num = []
    RY = []
    ID = []
    AD = []

    
    
    for pro in range(len(soup.find_all(class_ = "col3f"))):

        #sale_num
        try : 
            sale_num.append(int(soup.find_all(class_ = "col3f")[pro].find(class_ = "note").text.replace('銷售','')))
        except :
            sale_num.append('0')
        
        
        
        
        
        #紅黃框       
        RY.append((soup.find_all('dl','col3f')[pro].get('class')))
        
        #商品ID
        ID.append((soup.find_all('dl','col3f')[pro].get('_id')))
    
        #紅黃框   
        #for a in soup.find_all('dl','col3f'):
            #RY.append(a.get('class'))
            
        #商品ID
        #for a in soup.find_all('dl','col3f'):
            #ID.append(a.get('_id'))
    
    #追蹤人數
    if len(soup.find_all(title = re.compile('已有'))) > 80 :
        Trace_num = list(map(lambda x : x.text ,soup.find_all(title = re.compile('已有'))))[:80]
    else :
        Trace_num = list(map(lambda x : x.text ,soup.find_all(title = re.compile('已有'))))
    #廣告
    if len(soup.find_all(title = re.compile('已有'))) > 80 :
        AD = list(map(lambda x : x.text ,soup.find_all('span', class_='ads_tag')))[:num_product]
    else :
        AD = list(map(lambda x : x.text ,soup.find_all('span', class_='ads_tag')))
    ##########################
    df['ID'] = ID
    df['sale_num'] = sale_num
    df['AD'] = AD
    df['RY'] = RY
    df['Trace_num'] = Trace_num
    df['page'] = pag +1 
    
    
    df_total = pd.concat([df_total,df])
    
    
    driver.find_element_by_xpath("//ul[@class='pages']//li[@class='next']//a").click()

In [8]:
df_total['rank_eachpage'] = df_total.index+1
df_total.to_csv('./0117.csv',index=False)

In [27]:
len(Trace_num)

80

In [28]:
len(sale_num)

80

In [29]:
len(RY)

80

In [30]:
len(ID)

80

In [31]:
len(AD)

80

In [32]:
df_total['rank_eachpage'] = df_total.index+1
df_total.to_csv('./0117.csv',index=False)

In [34]:
pd.read_csv('./0117.csv')

,ID,sale_num,AD,RY,Trace_num,page,rank_eachpage
0,21306013652122,37123,廣告,"['col3f', 's_shining']",591,1,1
1,21919391256750,4302,廣告,['col3f'],41,1,2
2,21904684329839,1602,廣告,['col3f'],224,1,3
3,21707288442128,111,廣告,['col3f'],56,1,4
4,21807687309214,14568,廣告,"['col3f', 's_shining']",4800,1,5
...,...,...,...,...,...,...,...
2395,21848073055890,24,NaN,['col3f'],8,30,76
2396,21917115214903,33,NaN,['col3f'],7,30,77
2397,21827294445693,18,NaN,['col3f'],5,30,78
2398,21910116907388,261,NaN,['col3f'],39,30,79
2399,21942372682219,9,NaN,['col3f'],4,30,80